.text-purple:hover {
  color: #6B46FF;
  cursor: pointer;
}

.brg {
  font-size: 40pt;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.brg-img{
  width: 450px;
  height: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: auto;
}

.brg-imgd{
  width: 450px;
  height: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: auto;
  overflow: hidden;
}

.btn-purple {
  background-color: #6b46ff;
  color: white;
}

.btn-submit{
  width: 100%;
  padding: 5px 30px;
  color: white;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: linear-gradient(to right, #0091AD, #B7094C);
  border: 0;
  outline: none;
}

.container-fluid {
  color: white;
}

input{
  background-color: rgb(24, 24, 24);
}
